@model IEnumerable<UniversityManagementSystemWebApplication.Models.Enrollment>

<table class="table table-hover">
    <tr>
        <th>
            Course Code
        </th>
        <th>
            Course Name
        </th>
        <th>
            Grade Letter Name
        </th>
    </tr>
    @*<div id="CourseInformation">*@
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Name)
                </td>
                <td>
                    @if (item.GradeLetter == null)
                   {
                       @Html.Label("Grade not assign yet ")
                    }
                    else
                    {
                       @Html.DisplayFor(modelItem=>item.GradeLetter.Name)   
                    }
                </td>
            </tr>
        }
   @* </div>*@
</table>
