@{
    ViewBag.Title = "Home Page";
    ViewBag.Active = "Home";
}
<div class="hero-unit">
            <hgroup class="title">
                @*<h1>@ViewBag.Title.</h1>*@
                @*<h2>@ViewBag.Message</h2>*@
            </hgroup>
           

</div>